/* You can add global styles to this file, and also import other style files */
:root {
    --solid-background: #17B486;
    --white: #FFF;
    --grey-1: #EDEDED;
    --shadow-dark: rgba(0, 0, 0, 0.3);
    --shadow-light: rgba(255, 255, 255, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.container {
    width: 400px;
    height: 80vh;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.upper-part {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
}

.upper-part img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.lower-part {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.weather-data {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location {
    color: whitesmoke;
    text-align: center;
    font-size: 1.2em;
}

.temperature {
    font-size: 4em;
    color: whitesmoke;
    text-align: center;
    font-weight: 900;
}

.more-info-label {
    color: whitesmoke;
}

.more-info-container {
    flex: 1;
    background-color: var(--shadow-light);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-block {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.info-block-label {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-block-label img {
    width: 2em;
}

.info-block-label span {
    color: whitesmoke;
    font-size: 0.8em;
}

.info-block-value {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: whitesmoke;
}

.search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 1em;
    text-align: center;
    z-index: 1;
    gap: 10px;
}

form {
    display: flex;
    justify-content: center;
}

.search-input {
    display: flex;
    align-items: center;
}

.search input {
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1em;
    color: rgb(48, 48, 48);
    font-size: 0.8em;
    text-align: center;
}

.search-btn button {
    background-color: purple;
    border: none;
    aspect-ratio: 1/1;
    width: 50px;
    border-radius: 50%;
    padding: 1em;
    color: whitesmoke;
    cursor: pointer;
}

.search-btn {
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1em;
}